---
/*Componetes utilizados*/ 

import TitleHeader from "./TitleHeader.astro";
import SectionComponent from "./SectionComponent.astro";
import DivSection from "./DivSection.astro";
import SvgTag from "./icons/SvgTag.astro";
import LinkButton from "./LinkButton.astro";

/*Constantes de proyectos y etiquetas*/
const TAGS = {

  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    tagIcon: "tailwindcss", // Assuming you have a Tailwind icon component
    icon: SvgTag,
  },
  ASTROICON: {
    name: "Astro",
    class: "bg-[#e06b27] text-white",
    tagIcon: "astro", // Assuming you have an Astro icon component
    icon: SvgTag, // Assuming you have an Astro icon component
  },
  Angular: {
    name: "Angular",
    class: "bg-red-600 text-white",
    tagIcon: "angular", // Assuming you have an Angular icon component
    icon: SvgTag, // Assuming you have an Angular icon component
  },
  IONIC: {
    name: "Ionic",
    class: "bg-[#3880ff] text-white",
    tagIcon: "ionic", // Assuming you have an Ionic icon component
    icon: SvgTag,
  },
};
/*Proyectos que se muestran en la secci贸n de proyectos */
const PROJECTS = [
  {
    title: "ENGLISH BLOG - UN BLOG PARA APRENDER INGLS",
    description:
      "Blog interactivo para aprender ingl茅s desde cero. Incluye art铆culos y recursos gratuitos. Desarrollado con Astro y Tailwind CSS.",
    link: "https://english-project-three.vercel.app/",
    github: "https://github.com/elizonRL/english-blog",
    image: "/projects/englishblog.webp",
    tags: [TAGS.ASTROICON, TAGS.TAILWIND],
  },
  {
    title: "Egresados UASD - App movil para egresados de la Universidad ",
    description:
      "Aplicaci贸n m贸vil para egresados de la Universidad Aut贸noma de Santo Domingo (UASD). Permite a los egresados conectarse, compartir sus habilidades y ser contactados para obtener trabajo.",

    github: "https://github.com/ericmguzmanc/egresados-uasd",
    image: "/projects/egresados.webp",
    tags: [TAGS.Angular, TAGS.IONIC],
  },
];
/* * Componente principal que renderiza la secci贸n de proyectos
 * Utiliza los componentes TitleHeader, SectionComponent, DivSection, SvgTag y LinkButton
  * Muestra una lista de proyectos con sus detalles, incluyendo imagen, t铆tulo, descripci贸n, etiquetas y enlaces a GitHub y vista previa.
 */
const { id } = Astro.props;
---

<SectionComponent>
  <DivSection>
    <TitleHeader titleH2="Proyectos" icon="" />

    <div class="flex flex-col gap-y-16">
      {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
          <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2">
              <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img
                  alt="Reci茅n llegado vs 5 a帽os en Nueva Zelanda"
                  class="object-cover object-top w-full h-45 transition duration-500 sm:h-4/6 md:scale-110 md:group-hover:scale-105"
                  loading="lazy"
                  src={image}
                />
              </div>
            </div>

            <div class="w-full md:w-1/2 md:max-w-lg ">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <div class="flex flex-wrap mt-2">
                <ul class="flex flex-row mb-2 gap-x-2">
                  {tags.map((tag) => (
                    <li>
                      <span
                        class={`flex gap-x-2 justify-center items-center rounded-full text-xs ${tag.class} py-1 px-2 `}>
                        <tag.icon nameTag={tag.tagIcon} class="size-4" />
                        {tag.name}
                      </span>
                    </li>
                  ))}
                </ul>

                <div class="mt-2 text-gray-700 dark:text-gray-400">
                  {description}
                </div>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                  {github && (
                    <LinkButton href={github}>
                      <SvgTag nameTag="github" class="size-6" />
                      Code
                    </LinkButton>
                  )}

                  {link && (
                    <LinkButton href={link}>
                      <SvgTag nameTag="link" class="size-6" />
                      Preview
                    </LinkButton>
                  )}
                </footer>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </DivSection>
</SectionComponent>
